In [1]:
#All imports 
from matplotlib import pyplot as plt

import numpy as np
import pandas as pd

In [2]:
#Scraping from FBref
url = "https://fbref.com/en/squads/cff3d9bb/2024-2025/all_comps/Chelsea-Stats-All-Competitions"

In [3]:
tables = pd.read_html(url)

In [4]:
pd.set_option("display.max_columns", None)

In [5]:
table1 = tables[0]

In [6]:
table1.shape

(45, 34)

In [7]:
table1.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
              Player             Nation                Pos                Age
0     Marc Cucurella             es ESP                 DF             26-226
1        Cole Palmer            eng ENG                 MF             22-303
2     Moisés Caicedo             ec ECU                 MF             23-123
3       Levi Colwill            eng ENG                 DF             22-007
4     Enzo Fernández             ar ARG                 MF             24-047

  Unnamed: 4_level_0 Playing Time               Performance                   \
                  MP       Starts     Min   90s         Gls  Ast   G+A  G-PK
0                 30           27  2479.0  27.5         4.0  2.0   6.0   4.0
1                 28           28  2459.0  27.3        14.0  6.0  20.0  11.0
2                 28           28  2451.0  27.2         1.0  2.0   3.0   1.0
3                 25           25  2249.0  25.0         1.0  1.0   2.0   1.0
4                 29           24  2198.0  24.4         4.0  8.0  12.0   4.0

                        Expected                     Progression         \
    PK PKatt  CrdY CrdR       xG  npxG  xAG npxG+xAG        PrgC   PrgP
0  0.0   0.0   8.0  1.0      1.9   1.9  1.7      3.7        25.0   84.0
1  3.0   3.0   4.0  0.0     14.2  11.8  8.4     20.3        83.0  154.0
2  0.0   0.0  10.0  0.0      0.6   0.6  2.6      3.2        30.0  136.0
3  0.0   0.0   6.0  0.0      0.7   0.7  1.0      1.7        10.0  105.0
4  0.0   0.0   6.0  0.0      4.1   4.1  4.8      9.0        36.0  144.0

         Per 90 Minutes                                                    \
    PrgR            Gls   Ast   G+A  G-PK G+A-PK    xG   xAG xG+xAG  npxG
0   81.0           0.15  0.07  0.22  0.15   0.22  0.08  0.08   0.16  0.08
1  138.0           0.51  0.22  0.73  0.40   0.62  0.54  0.32   0.86  0.45
2   27.0           0.04  0.07  0.11  0.04   0.11  0.02  0.10   0.12  0.02
3    7.0           0.04  0.04  0.08  0.04   0.08  0.03  0.04   0.07  0.03
4   73.0           0.16  0.33  0.49  0.16   0.49  0.19  0.22   0.41  0.19

           Unnamed: 33_level_0
  npxG+xAG             Matches
0     0.16             Matches
1     0.77             Matches
2     0.12             Matches
3     0.07             Matches
4     0.41             Matches

In [8]:
table1.columns

MultiIndex([( 'Unnamed: 0_level_0',   'Player'),
            ( 'Unnamed: 1_level_0',   'Nation'),
            ( 'Unnamed: 2_level_0',      'Pos'),
            ( 'Unnamed: 3_level_0',      'Age'),
            ( 'Unnamed: 4_level_0',       'MP'),
            (       'Playing Time',   'Starts'),
            (       'Playing Time',      'Min'),
            (       'Playing Time',      '90s'),
            (        'Performance',      'Gls'),
            (        'Performance',      'Ast'),
            (        'Performance',      'G+A'),
            (        'Performance',     'G-PK'),
            (        'Performance',       'PK'),
            (        'Performance',    'PKatt'),
            (        'Performance',     'CrdY'),
            (        'Performance',     'CrdR'),
            (           'Expected',       'xG'),
            (           'Expected',     'npxG'),
            (           'Expected',      'xAG'),
            (           'Expected', 'npxG+xAG'),
            (        'Progression',     'PrgC'),
            (        'Progression',     'PrgP'),
            (        'Progression',     'PrgR'),
            (     'Per 90 Minutes',      'Gls'),
            (     'Per 90 Minutes',      'Ast'),
            (     'Per 90 Minutes',      'G+A'),
            (     'Per 90 Minutes',     'G-PK'),
            (     'Per 90 Minutes',   'G+A-PK'),
            (     'Per 90 Minutes',       'xG'),
            (     'Per 90 Minutes',      'xAG'),
            (     'Per 90 Minutes',   'xG+xAG'),
            (     'Per 90 Minutes',     'npxG'),
            (     'Per 90 Minutes', 'npxG+xAG'),
            ('Unnamed: 33_level_0',  'Matches')],
           )

In [9]:
table1.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
              Player             Nation                Pos                Age
0     Marc Cucurella             es ESP                 DF             26-226
1        Cole Palmer            eng ENG                 MF             22-303
2     Moisés Caicedo             ec ECU                 MF             23-123
3       Levi Colwill            eng ENG                 DF             22-007
4     Enzo Fernández             ar ARG                 MF             24-047

  Unnamed: 4_level_0 Playing Time               Performance                   \
                  MP       Starts     Min   90s         Gls  Ast   G+A  G-PK
0                 30           27  2479.0  27.5         4.0  2.0   6.0   4.0
1                 28           28  2459.0  27.3        14.0  6.0  20.0  11.0
2                 28           28  2451.0  27.2         1.0  2.0   3.0   1.0
3                 25           25  2249.0  25.0         1.0  1.0   2.0   1.0
4                 29           24  2198.0  24.4         4.0  8.0  12.0   4.0

                        Expected                     Progression         \
    PK PKatt  CrdY CrdR       xG  npxG  xAG npxG+xAG        PrgC   PrgP
0  0.0   0.0   8.0  1.0      1.9   1.9  1.7      3.7        25.0   84.0
1  3.0   3.0   4.0  0.0     14.2  11.8  8.4     20.3        83.0  154.0
2  0.0   0.0  10.0  0.0      0.6   0.6  2.6      3.2        30.0  136.0
3  0.0   0.0   6.0  0.0      0.7   0.7  1.0      1.7        10.0  105.0
4  0.0   0.0   6.0  0.0      4.1   4.1  4.8      9.0        36.0  144.0

         Per 90 Minutes                                                    \
    PrgR            Gls   Ast   G+A  G-PK G+A-PK    xG   xAG xG+xAG  npxG
0   81.0           0.15  0.07  0.22  0.15   0.22  0.08  0.08   0.16  0.08
1  138.0           0.51  0.22  0.73  0.40   0.62  0.54  0.32   0.86  0.45
2   27.0           0.04  0.07  0.11  0.04   0.11  0.02  0.10   0.12  0.02
3    7.0           0.04  0.04  0.08  0.04   0.08  0.03  0.04   0.07  0.03
4   73.0           0.16  0.33  0.49  0.16   0.49  0.19  0.22   0.41  0.19

           Unnamed: 33_level_0
  npxG+xAG             Matches
0     0.16             Matches
1     0.77             Matches
2     0.12             Matches
3     0.07             Matches
4     0.41             Matches

In [10]:
#Drop columns not needed for the analysis
table1 = table1.drop(columns=["Per 90 Minutes", "Unnamed: 33_level_0"])

C:\Users\DELL\anaconda3\lib\site-packages\pandas\core\generic.py:4153: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

In [11]:
table1.head(0)

Empty DataFrame
Columns: [(Unnamed: 0_level_0, Player), (Unnamed: 1_level_0, Nation), (Unnamed: 2_level_0, Pos), (Unnamed: 3_level_0, Age), (Unnamed: 4_level_0, MP), (Playing Time, Starts), (Playing Time, Min), (Playing Time, 90s), (Performance, Gls), (Performance, Ast), (Performance, G+A), (Performance, G-PK), (Performance, PK), (Performance, PKatt), (Performance, CrdY), (Performance, CrdR), (Expected, xG), (Expected, npxG), (Expected, xAG), (Expected, npxG+xAG), (Progression, PrgC), (Progression, PrgP), (Progression, PrgR)]
Index: []

In [12]:
#Remove first index column
table1.columns = table1.columns.droplevel(0)

In [13]:
table1.head(0)

Empty DataFrame
Columns: [Player, Nation, Pos, Age, MP, Starts, Min, 90s, Gls, Ast, G+A, G-PK, PK, PKatt, CrdY, CrdR, xG, npxG, xAG, npxG+xAG, PrgC, PrgP, PrgR]
Index: []

In [14]:
#Remove other columns not needed
table1 = table1.drop(columns=["90s","G-PK", "npxG","npxG+xAG", "PrgC","PrgR"])

In [15]:
table1.head()

,Player,Nation,Pos,Age,MP,Starts,Min,Gls,Ast,G+A,PK,PKatt,CrdY,CrdR,xG,xAG,PrgP
0,Marc Cucurella,es ESP,DF,26-226,30,27,2479.0,4.0,2.0,6.0,0.0,0.0,8.0,1.0,1.9,1.7,84.0
1,Cole Palmer,eng ENG,MF,22-303,28,28,2459.0,14.0,6.0,20.0,3.0,3.0,4.0,0.0,14.2,8.4,154.0
2,Moisés Caicedo,ec ECU,MF,23-123,28,28,2451.0,1.0,2.0,3.0,0.0,0.0,10.0,0.0,0.6,2.6,136.0
3,Levi Colwill,eng ENG,DF,22-007,25,25,2249.0,1.0,1.0,2.0,0.0,0.0,6.0,0.0,0.7,1.0,105.0
4,Enzo Fernández,ar ARG,MF,24-047,29,24,2198.0,4.0,8.0,12.0,0.0,0.0,6.0,0.0,4.1,4.8,144.0

In [16]:
#second lookout table (shooting table)
table2 = tables[16]

In [17]:
table2.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
              Player             Nation                Pos                Age
0     Marc Cucurella             es ESP                 DF             26-226
1        Cole Palmer            eng ENG                 MF             22-303
2     Moisés Caicedo             ec ECU                 MF             23-123
3       Levi Colwill            eng ENG                 DF             22-007
4     Enzo Fernández             ar ARG                 MF             24-047

  Unnamed: 4_level_0 Standard                                               \
                 90s      Gls  Sh SoT  SoT% Sh/90 SoT/90  G/Sh G/SoT  Dist
0               27.5        4  19   5  26.3  0.69   0.18  0.21  0.80  16.0
1               27.3       14  97  37  38.1  3.55   1.35  0.11  0.30  20.2
2               27.2        1  13   2  15.4  0.48   0.07  0.08  0.50  25.0
3               25.0        1   9   2  22.2  0.36   0.08  0.11  0.50   8.4
4               24.4        4  37  14  37.8  1.52   0.57  0.11  0.29  17.5

                 Expected                            Unnamed: 22_level_0
     FK PK PKatt       xG  npxG npxG/Sh G-xG np:G-xG             Matches
0   0.0  0     0      1.9   1.9    0.15  1.1     1.1             Matches
1  12.0  3     3     14.2  11.8    0.13 -0.2    -0.8             Matches
2   0.0  0     0      0.6   0.6    0.05  0.4     0.4             Matches
3   0.0  0     0      0.7   0.7    0.08  0.3     0.3             Matches
4   2.0  0     0      4.1   4.1    0.13 -0.1    -0.1             Matches

In [18]:
table2 = table2.drop(columns=["Expected"])

C:\Users\DELL\anaconda3\lib\site-packages\pandas\core\generic.py:4153: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

In [19]:
table2.head(0)

Empty DataFrame
Columns: [(Unnamed: 0_level_0, Player), (Unnamed: 1_level_0, Nation), (Unnamed: 2_level_0, Pos), (Unnamed: 3_level_0, Age), (Unnamed: 4_level_0, 90s), (Standard, Gls), (Standard, Sh), (Standard, SoT), (Standard, SoT%), (Standard, Sh/90), (Standard, SoT/90), (Standard, G/Sh), (Standard, G/SoT), (Standard, Dist), (Standard, FK), (Standard, PK), (Standard, PKatt), (Unnamed: 22_level_0, Matches)]
Index: []

In [20]:
table2.columns = table2.columns.droplevel(0)

In [21]:
table2.head(0)

Empty DataFrame
Columns: [Player, Nation, Pos, Age, 90s, Gls, Sh, SoT, SoT%, Sh/90, SoT/90, G/Sh, G/SoT, Dist, FK, PK, PKatt, Matches]
Index: []

In [22]:
#Remove all needless tables
table2 = table2.drop(columns=["Matches", 'Nation', 'Pos', 'Age', '90s', 'Gls', 'SoT%', 'Sh/90', 'SoT/90','G/Sh', 'G/SoT', 'Dist', 'FK', 'PK', 'PKatt'])

In [23]:
table2.columns.unique()

Index(['Player', 'Sh', 'SoT'], dtype='object')

In [24]:
df = pd.merge(table1, table2, on="Player", how="left")

In [25]:
df[:3]

,Player,Nation,Pos,Age,MP,Starts,Min,Gls,Ast,G+A,PK,PKatt,CrdY,CrdR,xG,xAG,PrgP,Sh,SoT
0,Marc Cucurella,es ESP,DF,26-226,30,27,2479.0,4.0,2.0,6.0,0.0,0.0,8.0,1.0,1.9,1.7,84.0,19.0,5.0
1,Cole Palmer,eng ENG,MF,22-303,28,28,2459.0,14.0,6.0,20.0,3.0,3.0,4.0,0.0,14.2,8.4,154.0,97.0,37.0
2,Moisés Caicedo,ec ECU,MF,23-123,28,28,2451.0,1.0,2.0,3.0,0.0,0.0,10.0,0.0,0.6,2.6,136.0,13.0,2.0

In [26]:
#Checking out the passing table
tables[21].head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
              Player             Nation                Pos                Age
0     Marc Cucurella             es ESP                 DF             26-226
1        Cole Palmer            eng ENG                 MF             22-303
2     Moisés Caicedo             ec ECU                 MF             23-123
3       Levi Colwill            eng ENG                 DF             22-007
4     Enzo Fernández             ar ARG                 MF             24-047

  Unnamed: 4_level_0   Total                                  Short         \
                 90s     Cmp     Att  Cmp%  TotDist  PrgDist    Cmp    Att
0               27.5  1226.0  1375.0  89.2  18922.0   5345.0  628.0  665.0
1               27.3   845.0  1112.0  76.0  16103.0   4235.0  347.0  406.0
2               27.2  1444.0  1615.0  89.4  24756.0   6602.0  653.0  707.0
3               25.0  1753.0  1953.0  89.8  31592.0  11414.0  631.0  677.0
4               24.4  1105.0  1357.0  81.4  19259.0   5271.0  527.0  586.0

         Medium                 Long              Unnamed: 19_level_0  \
   Cmp%     Cmp     Att  Cmp%    Cmp    Att  Cmp%                 Ast
0  94.4   527.0   579.0  91.0   44.0   77.0  57.1                   2
1  85.5   344.0   408.0  84.3  133.0  228.0  58.3                   6
2  92.4   641.0   694.0  92.4  120.0  158.0  75.9                   2
3  93.2  1003.0  1059.0  94.7  100.0  168.0  59.5                   1
4  89.9   433.0   509.0  85.1  115.0  185.0  62.2                   8

  Unnamed: 20_level_0 Expected       Unnamed: 23_level_0 Unnamed: 24_level_0  \
                  xAG       xA A-xAG                  KP                 1/3
0                 1.7      1.9   0.3                14.0                90.0
1                 8.4      7.1  -2.4                67.0               120.0
2                 2.6      2.0  -0.6                22.0               170.0
3                 1.0      1.0   0.0                11.0               115.0
4                 4.8      4.9   3.2                50.0               111.0

  Unnamed: 25_level_0 Unnamed: 26_level_0 Unnamed: 27_level_0  \
                  PPA               CrsPA                PrgP
0                 7.0                 2.0                84.0
1                46.0                12.0               154.0
2                22.0                 2.0               136.0
3                 6.0                 2.0               105.0
4                27.0                 3.0               144.0

  Unnamed: 28_level_0
              Matches
0             Matches
1             Matches
2             Matches
3             Matches
4             Matches

In [27]:
#Display only the passes completed and attempted
table3 = tables[21]

In [28]:
table3 = table3.drop(columns=["Long", "Medium", "Short", "Expected"])

C:\Users\DELL\anaconda3\lib\site-packages\pandas\core\generic.py:4153: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

In [29]:
table3.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
              Player             Nation                Pos                Age
0     Marc Cucurella             es ESP                 DF             26-226
1        Cole Palmer            eng ENG                 MF             22-303
2     Moisés Caicedo             ec ECU                 MF             23-123
3       Levi Colwill            eng ENG                 DF             22-007
4     Enzo Fernández             ar ARG                 MF             24-047

  Unnamed: 4_level_0   Total                                  \
                 90s     Cmp     Att  Cmp%  TotDist  PrgDist
0               27.5  1226.0  1375.0  89.2  18922.0   5345.0
1               27.3   845.0  1112.0  76.0  16103.0   4235.0
2               27.2  1444.0  1615.0  89.4  24756.0   6602.0
3               25.0  1753.0  1953.0  89.8  31592.0  11414.0
4               24.4  1105.0  1357.0  81.4  19259.0   5271.0

  Unnamed: 19_level_0 Unnamed: 20_level_0 Unnamed: 23_level_0  \
                  Ast                 xAG                  KP
0                   2                 1.7                14.0
1                   6                 8.4                67.0
2                   2                 2.6                22.0
3                   1                 1.0                11.0
4                   8                 4.8                50.0

  Unnamed: 24_level_0 Unnamed: 25_level_0 Unnamed: 26_level_0  \
                  1/3                 PPA               CrsPA
0                90.0                 7.0                 2.0
1               120.0                46.0                12.0
2               170.0                22.0                 2.0
3               115.0                 6.0                 2.0
4               111.0                27.0                 3.0

  Unnamed: 27_level_0 Unnamed: 28_level_0
                 PrgP             Matches
0                84.0             Matches
1               154.0             Matches
2               136.0             Matches
3               105.0             Matches
4               144.0             Matches

In [30]:
#Remove first column index 
table3.columns = table3.columns.droplevel(0)

In [31]:
table3.head()

,Player,Nation,Pos,Age,90s,Cmp,Att,Cmp%,TotDist,PrgDist,Ast,xAG,KP,1/3,PPA,CrsPA,PrgP,Matches
0,Marc Cucurella,es ESP,DF,26-226,27.5,1226.0,1375.0,89.2,18922.0,5345.0,2,1.7,14.0,90.0,7.0,2.0,84.0,Matches
1,Cole Palmer,eng ENG,MF,22-303,27.3,845.0,1112.0,76.0,16103.0,4235.0,6,8.4,67.0,120.0,46.0,12.0,154.0,Matches
2,Moisés Caicedo,ec ECU,MF,23-123,27.2,1444.0,1615.0,89.4,24756.0,6602.0,2,2.6,22.0,170.0,22.0,2.0,136.0,Matches
3,Levi Colwill,eng ENG,DF,22-007,25.0,1753.0,1953.0,89.8,31592.0,11414.0,1,1.0,11.0,115.0,6.0,2.0,105.0,Matches
4,Enzo Fernández,ar ARG,MF,24-047,24.4,1105.0,1357.0,81.4,19259.0,5271.0,8,4.8,50.0,111.0,27.0,3.0,144.0,Matches

In [33]:
table3.columns

Index(['Player', 'Nation', 'Pos', 'Age', '90s', 'Cmp', 'Att', 'Cmp%',
       'TotDist', 'PrgDist', 'Ast', 'xAG', 'KP', '1/3', 'PPA', 'CrsPA', 'PrgP',
       'Matches'],
      dtype='object')

In [34]:
table3 = table3.drop(columns=['Nation', 'Pos', 'Age', '90s','Cmp%',
       'TotDist', 'PrgDist', 'Ast', 'xAG', 'KP', '1/3', 'PPA', 'CrsPA', 'PrgP',
       'Matches'])

In [35]:
table3.head()

           Player     Cmp     Att
0  Marc Cucurella  1226.0  1375.0
1     Cole Palmer   845.0  1112.0
2  Moisés Caicedo  1444.0  1615.0
3    Levi Colwill  1753.0  1953.0
4  Enzo Fernández  1105.0  1357.0

In [36]:
df = pd.merge(df,table3,on="Player",how="left")

In [37]:
df.head()

,Player,Nation,Pos,Age,MP,Starts,Min,Gls,Ast,G+A,PK,PKatt,CrdY,CrdR,xG,xAG,PrgP,Sh,SoT,Cmp,Att
0,Marc Cucurella,es ESP,DF,26-226,30,27,2479.0,4.0,2.0,6.0,0.0,0.0,8.0,1.0,1.9,1.7,84.0,19.0,5.0,1226.0,1375.0
1,Cole Palmer,eng ENG,MF,22-303,28,28,2459.0,14.0,6.0,20.0,3.0,3.0,4.0,0.0,14.2,8.4,154.0,97.0,37.0,845.0,1112.0
2,Moisés Caicedo,ec ECU,MF,23-123,28,28,2451.0,1.0,2.0,3.0,0.0,0.0,10.0,0.0,0.6,2.6,136.0,13.0,2.0,1444.0,1615.0
3,Levi Colwill,eng ENG,DF,22-007,25,25,2249.0,1.0,1.0,2.0,0.0,0.0,6.0,0.0,0.7,1.0,105.0,9.0,2.0,1753.0,1953.0
4,Enzo Fernández,ar ARG,MF,24-047,29,24,2198.0,4.0,8.0,12.0,0.0,0.0,6.0,0.0,4.1,4.8,144.0,37.0,14.0,1105.0,1357.0

In [38]:
#Rename columns for better understanding
df = df.rename(columns=
    {
        "Gls":"Goals Scored",
        "Ast":"Assists",
        "G+A":"Goals Contribution",
        "PKatt":"Attempted PK",
        "CrdY":"Yellow Cards",
        "CrdR":"Red Cards",
        "PrgP":"Progressive Passes",
        "Sh":"Total Shorts",
        "SoT":"Shorts on Target",
        "cmp":"Completed Passes",
        "Att":"Attended Passes"
        
    })

In [39]:
df.head()

,Player,Nation,Pos,Age,MP,Starts,Min,Goals Scored,Assists,Goals Contribution,PK,Attempted PK,Yellow Cards,Red Cards,xG,xAG,Progressive Passes,Total Shorts,Shorts on Target,Cmp,Attended Passes
0,Marc Cucurella,es ESP,DF,26-226,30,27,2479.0,4.0,2.0,6.0,0.0,0.0,8.0,1.0,1.9,1.7,84.0,19.0,5.0,1226.0,1375.0
1,Cole Palmer,eng ENG,MF,22-303,28,28,2459.0,14.0,6.0,20.0,3.0,3.0,4.0,0.0,14.2,8.4,154.0,97.0,37.0,845.0,1112.0
2,Moisés Caicedo,ec ECU,MF,23-123,28,28,2451.0,1.0,2.0,3.0,0.0,0.0,10.0,0.0,0.6,2.6,136.0,13.0,2.0,1444.0,1615.0
3,Levi Colwill,eng ENG,DF,22-007,25,25,2249.0,1.0,1.0,2.0,0.0,0.0,6.0,0.0,0.7,1.0,105.0,9.0,2.0,1753.0,1953.0
4,Enzo Fernández,ar ARG,MF,24-047,29,24,2198.0,4.0,8.0,12.0,0.0,0.0,6.0,0.0,4.1,4.8,144.0,37.0,14.0,1105.0,1357.0

In [40]:
#The chances creation table
table4 = tables[26]

In [41]:
table4.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
              Player             Nation                Pos                Age
0     Marc Cucurella             es ESP                 DF             26-226
1        Cole Palmer            eng ENG                 MF             22-303
2     Moisés Caicedo             ec ECU                 MF             23-123
3       Levi Colwill            eng ENG                 DF             22-007
4     Enzo Fernández             ar ARG                 MF             24-047

  Unnamed: 4_level_0 Unnamed: 5_level_0 Pass Types                           \
                 90s                Att       Live   Dead    FK    TB    Sw
0               27.5             1375.0     1193.0  179.0  22.0   2.0   0.0
1               27.3             1112.0      936.0  170.0  40.0  18.0  10.0
2               27.2             1615.0     1567.0   45.0  29.0   9.0  10.0
3               25.0             1953.0     1819.0  131.0  57.0   3.0   6.0
4               24.4             1357.0     1255.0   94.0  41.0  12.0  20.0

                    Corner Kicks           Outcomes              \
   Crs     TI    CK           In  Out  Str      Cmp  Off Blocks
0   26  157.0   0.0          0.0  0.0  0.0   1226.0  3.0   12.0
1  118   13.0  70.0         49.0  5.0  0.0    845.0  6.0   38.0
2    8   16.0   0.0          0.0  0.0  0.0   1444.0  3.0   16.0
3   10    5.0   0.0          0.0  0.0  0.0   1753.0  3.0   19.0
4   73    3.0  49.0         36.0  1.0  0.0   1105.0  8.0   27.0

  Unnamed: 20_level_0
              Matches
0             Matches
1             Matches
2             Matches
3             Matches
4             Matches

In [42]:
table4 = table4.drop(columns=["Corner Kicks", "Outcomes"])

C:\Users\DELL\anaconda3\lib\site-packages\pandas\core\generic.py:4153: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

In [43]:
table4.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
              Player             Nation                Pos                Age
0     Marc Cucurella             es ESP                 DF             26-226
1        Cole Palmer            eng ENG                 MF             22-303
2     Moisés Caicedo             ec ECU                 MF             23-123
3       Levi Colwill            eng ENG                 DF             22-007
4     Enzo Fernández             ar ARG                 MF             24-047

  Unnamed: 4_level_0 Unnamed: 5_level_0 Pass Types                           \
                 90s                Att       Live   Dead    FK    TB    Sw
0               27.5             1375.0     1193.0  179.0  22.0   2.0   0.0
1               27.3             1112.0      936.0  170.0  40.0  18.0  10.0
2               27.2             1615.0     1567.0   45.0  29.0   9.0  10.0
3               25.0             1953.0     1819.0  131.0  57.0   3.0   6.0
4               24.4             1357.0     1255.0   94.0  41.0  12.0  20.0

                    Unnamed: 20_level_0
   Crs     TI    CK             Matches
0   26  157.0   0.0             Matches
1  118   13.0  70.0             Matches
2    8   16.0   0.0             Matches
3   10    5.0   0.0             Matches
4   73    3.0  49.0             Matches

In [44]:
#Remove first column index
table4.columns = table4.columns.droplevel(0)

In [45]:
table4.head(0)

Empty DataFrame
Columns: [Player, Nation, Pos, Age, 90s, Att, Live, Dead, FK, TB, Sw, Crs, TI, CK, Matches]
Index: []

In [46]:
#Drop other needless columns
table4.columns

Index(['Player', 'Nation', 'Pos', 'Age', '90s', 'Att', 'Live', 'Dead', 'FK',
       'TB', 'Sw', 'Crs', 'TI', 'CK', 'Matches'],
      dtype='object')

In [47]:
table4 = table4.drop(columns=['Nation', 'Pos', 'Age', '90s', 'Att', 'Live', 'Dead', 'Sw', 'Matches'])

In [48]:
table4.head()

           Player    FK    TB  Crs     TI    CK
0  Marc Cucurella  22.0   2.0   26  157.0   0.0
1     Cole Palmer  40.0  18.0  118   13.0  70.0
2  Moisés Caicedo  29.0   9.0    8   16.0   0.0
3    Levi Colwill  57.0   3.0   10    5.0   0.0
4  Enzo Fernández  41.0  12.0   73    3.0  49.0

In [49]:
#Merge table 4 with the dataframe
df = pd.merge(df,table4,on="Player", how="left")

In [50]:
df.head()

,Player,Nation,Pos,Age,MP,Starts,Min,Goals Scored,Assists,Goals Contribution,PK,Attempted PK,Yellow Cards,Red Cards,xG,xAG,Progressive Passes,Total Shorts,Shorts on Target,Cmp,Attended Passes,FK,TB,Crs,TI,CK
0,Marc Cucurella,es ESP,DF,26-226,30,27,2479.0,4.0,2.0,6.0,0.0,0.0,8.0,1.0,1.9,1.7,84.0,19.0,5.0,1226.0,1375.0,22.0,2.0,26.0,157.0,0.0
1,Cole Palmer,eng ENG,MF,22-303,28,28,2459.0,14.0,6.0,20.0,3.0,3.0,4.0,0.0,14.2,8.4,154.0,97.0,37.0,845.0,1112.0,40.0,18.0,118.0,13.0,70.0
2,Moisés Caicedo,ec ECU,MF,23-123,28,28,2451.0,1.0,2.0,3.0,0.0,0.0,10.0,0.0,0.6,2.6,136.0,13.0,2.0,1444.0,1615.0,29.0,9.0,8.0,16.0,0.0
3,Levi Colwill,eng ENG,DF,22-007,25,25,2249.0,1.0,1.0,2.0,0.0,0.0,6.0,0.0,0.7,1.0,105.0,9.0,2.0,1753.0,1953.0,57.0,3.0,10.0,5.0,0.0
4,Enzo Fernández,ar ARG,MF,24-047,29,24,2198.0,4.0,8.0,12.0,0.0,0.0,6.0,0.0,4.1,4.8,144.0,37.0,14.0,1105.0,1357.0,41.0,12.0,73.0,3.0,49.0

In [51]:
#Get the Defensive stats from the chances creation table
table5 = tables[36]

In [52]:
table5.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
              Player             Nation                Pos                Age
0     Marc Cucurella             es ESP                 DF             26-226
1        Cole Palmer            eng ENG                 MF             22-303
2     Moisés Caicedo             ec ECU                 MF             23-123
3       Levi Colwill            eng ENG                 DF             22-007
4     Enzo Fernández             ar ARG                 MF             24-047

  Unnamed: 4_level_0 Tackles                              Challenges        \
                 90s     Tkl TklW Def 3rd Mid 3rd Att 3rd        Tkl   Att
0               27.5    46.0   35    25.0    18.0     3.0       21.0  41.0
1               27.3    20.0   12    11.0     5.0     4.0        7.0  18.0
2               27.2    78.0   50    31.0    40.0     7.0       39.0  64.0
3               25.0    32.0   21    17.0    13.0     2.0       13.0  21.0
4               24.4    53.0   29    12.0    26.0    15.0       26.0  64.0

              Blocks             Unnamed: 17_level_0 Unnamed: 18_level_0  \
   Tkl%  Lost Blocks    Sh  Pass                 Int             Tkl+Int
0  51.2  20.0   35.0  10.0  25.0                  22                  65
1  38.9  11.0   13.0   1.0  12.0                   8                  27
2  60.9  25.0   36.0   9.0  27.0                  36                 114
3  61.9   8.0   28.0  20.0   8.0                  26                  58
4  40.6  38.0   26.0   4.0  22.0                  13                  63

  Unnamed: 19_level_0 Unnamed: 20_level_0 Unnamed: 21_level_0
                  Clr                 Err             Matches
0                51.0                 3.0             Matches
1                11.0                 1.0             Matches
2                38.0                 0.0             Matches
3                78.0                 3.0             Matches
4                16.0                 4.0             Matches

In [53]:
table5 = table5.drop(columns=["Challenges"])

C:\Users\DELL\anaconda3\lib\site-packages\pandas\core\generic.py:4153: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

In [54]:
table5.columns = table5.columns.droplevel(0)

In [55]:
table5.columns

Index(['Player', 'Nation', 'Pos', 'Age', '90s', 'Tkl', 'TklW', 'Def 3rd',
       'Mid 3rd', 'Att 3rd', 'Blocks', 'Sh', 'Pass', 'Int', 'Tkl+Int', 'Clr',
       'Err', 'Matches'],
      dtype='object')

In [56]:
table5 = table5.drop(columns=['Nation', 'Pos', 'Age', '90s','Def 3rd', 'Mid 3rd', 'Att 3rd','Sh', 'Pass','Tkl+Int','Matches'])

In [57]:
table5.head()

           Player   Tkl  TklW  Blocks  Int   Clr  Err
0  Marc Cucurella  46.0    35    35.0   22  51.0  3.0
1     Cole Palmer  20.0    12    13.0    8  11.0  1.0
2  Moisés Caicedo  78.0    50    36.0   36  38.0  0.0
3    Levi Colwill  32.0    21    28.0   26  78.0  3.0
4  Enzo Fernández  53.0    29    26.0   13  16.0  4.0

In [58]:
df = pd.merge(df, table5, on="Player", how="left")

In [59]:
#get subs stats
table6 = tables[46]

In [60]:
table6.columns = table6.columns.droplevel(0)

In [61]:
df["Substitue"] = table6["Subs"].values

In [62]:
df["Unused Substitue"] = table6["unSub"].values

In [63]:
table7 = tables[51]

In [64]:
#Remove first column index
table7.columns = table7.columns.droplevel(0)

In [65]:
table7.columns

Index(['Player', 'Nation', 'Pos', 'Age', '90s', 'CrdY', 'CrdR', '2CrdY', 'Fls',
       'Fld', 'Off', 'Crs', 'Int', 'TklW', 'PKwon', 'PKcon', 'OG', 'Recov',
       'Won', 'Lost', 'Won%', 'Matches'],
      dtype='object')

In [66]:
df["Fouls Committed"] = table7["Fls"]

In [67]:
df["Fouls drawn"] = table7["Fld"]

In [68]:
df["Offsides"] = table7["Off"]

In [69]:
df.head()

,Player,Nation,Pos,Age,MP,Starts,Min,Goals Scored,Assists,Goals Contribution,PK,Attempted PK,Yellow Cards,Red Cards,xG,xAG,Progressive Passes,Total Shorts,Shorts on Target,Cmp,Attended Passes,FK,TB,Crs,TI,CK,Tkl,TklW,Blocks,Int,Clr,Err,Substitue,Unused Substitue,Fouls Committed,Fouls drawn,Offsides
0,Marc Cucurella,es ESP,DF,26-226,30,27,2479.0,4.0,2.0,6.0,0.0,0.0,8.0,1.0,1.9,1.7,84.0,19.0,5.0,1226.0,1375.0,22.0,2.0,26.0,157.0,0.0,46.0,35.0,35.0,22.0,51.0,3.0,3,2,30.0,30.0,3.0
1,Cole Palmer,eng ENG,MF,22-303,28,28,2459.0,14.0,6.0,20.0,3.0,3.0,4.0,0.0,14.2,8.4,154.0,97.0,37.0,845.0,1112.0,40.0,18.0,118.0,13.0,70.0,20.0,12.0,13.0,8.0,11.0,1.0,0,2,12.0,53.0,7.0
2,Moisés Caicedo,ec ECU,MF,23-123,28,28,2451.0,1.0,2.0,3.0,0.0,0.0,10.0,0.0,0.6,2.6,136.0,13.0,2.0,1444.0,1615.0,29.0,9.0,8.0,16.0,0.0,78.0,50.0,36.0,36.0,38.0,0.0,0,1,57.0,39.0,0.0
3,Levi Colwill,eng ENG,DF,22-007,25,25,2249.0,1.0,1.0,2.0,0.0,0.0,6.0,0.0,0.7,1.0,105.0,9.0,2.0,1753.0,1953.0,57.0,3.0,10.0,5.0,0.0,32.0,21.0,28.0,26.0,78.0,3.0,0,7,25.0,17.0,3.0
4,Enzo Fernández,ar ARG,MF,24-047,29,24,2198.0,4.0,8.0,12.0,0.0,0.0,6.0,0.0,4.1,4.8,144.0,37.0,14.0,1105.0,1357.0,41.0,12.0,73.0,3.0,49.0,53.0,29.0,26.0,13.0,16.0,4.0,5,3,41.0,40.0,1.0

In [71]:
#Rename unclear columns
df = df.rename(columns={
    "FK":"Free Kick",
    "TB":"Through Balls",
    "Crs":"Crosses",
    "TI":"Throw Ins",
    "CK":"Corner Kicks",
    "Tkl":"Tackles",
    "TklW":"Tackels Won",
    "Int":"Interceptions",
    "Clr":"Clearance",
    "Err":"Errors"
    
})

In [72]:
df.head()

,Player,Nation,Pos,Age,MP,Starts,Min,Goals Scored,Assists,Goals Contribution,PK,Attempted PK,Yellow Cards,Red Cards,xG,xAG,Progressive Passes,Total Shorts,Shorts on Target,Cmp,Attended Passes,Free Kick,Through Balls,Crosses,Throw Ins,Corner Kicks,Tackles,Tackels Won,Blocks,Interceptions,Clearance,Errors,Substitue,Unused Substitue,Fouls Committed,Fouls drawn,Offsides
0,Marc Cucurella,es ESP,DF,26-226,30,27,2479.0,4.0,2.0,6.0,0.0,0.0,8.0,1.0,1.9,1.7,84.0,19.0,5.0,1226.0,1375.0,22.0,2.0,26.0,157.0,0.0,46.0,35.0,35.0,22.0,51.0,3.0,3,2,30.0,30.0,3.0
1,Cole Palmer,eng ENG,MF,22-303,28,28,2459.0,14.0,6.0,20.0,3.0,3.0,4.0,0.0,14.2,8.4,154.0,97.0,37.0,845.0,1112.0,40.0,18.0,118.0,13.0,70.0,20.0,12.0,13.0,8.0,11.0,1.0,0,2,12.0,53.0,7.0
2,Moisés Caicedo,ec ECU,MF,23-123,28,28,2451.0,1.0,2.0,3.0,0.0,0.0,10.0,0.0,0.6,2.6,136.0,13.0,2.0,1444.0,1615.0,29.0,9.0,8.0,16.0,0.0,78.0,50.0,36.0,36.0,38.0,0.0,0,1,57.0,39.0,0.0
3,Levi Colwill,eng ENG,DF,22-007,25,25,2249.0,1.0,1.0,2.0,0.0,0.0,6.0,0.0,0.7,1.0,105.0,9.0,2.0,1753.0,1953.0,57.0,3.0,10.0,5.0,0.0,32.0,21.0,28.0,26.0,78.0,3.0,0,7,25.0,17.0,3.0
4,Enzo Fernández,ar ARG,MF,24-047,29,24,2198.0,4.0,8.0,12.0,0.0,0.0,6.0,0.0,4.1,4.8,144.0,37.0,14.0,1105.0,1357.0,41.0,12.0,73.0,3.0,49.0,53.0,29.0,26.0,13.0,16.0,4.0,5,3,41.0,40.0,1.0

In [83]:
#Drop all players that have not played in any match
df = df[df["MP"].values !=0]

In [84]:
df.shape

(37, 37)

In [92]:
df.head()

,Player,Nation,Pos,Age,MP,Starts,Min,Goals Scored,Assists,Goals Contribution,PK,Attempted PK,Yellow Cards,Red Cards,xG,xAG,Progressive Passes,Total Shorts,Shorts on Target,Cmp,Attended Passes,Free Kick,Through Balls,Crosses,Throw Ins,Corner Kicks,Tackles,Tackels Won,Blocks,Interceptions,Clearance,Errors,Substitue,Unused Substitue,Fouls Committed,Fouls drawn,Offsides
0,Marc Cucurella,es ESP,DF,26-226,30,27,2479.0,4.0,2.0,6.0,0.0,0.0,8.0,1.0,1.9,1.7,84.0,19.0,5.0,1226.0,1375.0,22.0,2.0,26.0,157.0,0.0,46.0,35.0,35.0,22.0,51.0,3.0,3,2,30.0,30.0,3.0
1,Cole Palmer,eng ENG,MF,22-303,28,28,2459.0,14.0,6.0,20.0,3.0,3.0,4.0,0.0,14.2,8.4,154.0,97.0,37.0,845.0,1112.0,40.0,18.0,118.0,13.0,70.0,20.0,12.0,13.0,8.0,11.0,1.0,0,2,12.0,53.0,7.0
2,Moisés Caicedo,ec ECU,MF,23-123,28,28,2451.0,1.0,2.0,3.0,0.0,0.0,10.0,0.0,0.6,2.6,136.0,13.0,2.0,1444.0,1615.0,29.0,9.0,8.0,16.0,0.0,78.0,50.0,36.0,36.0,38.0,0.0,0,1,57.0,39.0,0.0
3,Levi Colwill,eng ENG,DF,22-007,25,25,2249.0,1.0,1.0,2.0,0.0,0.0,6.0,0.0,0.7,1.0,105.0,9.0,2.0,1753.0,1953.0,57.0,3.0,10.0,5.0,0.0,32.0,21.0,28.0,26.0,78.0,3.0,0,7,25.0,17.0,3.0
4,Enzo Fernández,ar ARG,MF,24-047,29,24,2198.0,4.0,8.0,12.0,0.0,0.0,6.0,0.0,4.1,4.8,144.0,37.0,14.0,1105.0,1357.0,41.0,12.0,73.0,3.0,49.0,53.0,29.0,26.0,13.0,16.0,4.0,5,3,41.0,40.0,1.0

In [104]:
#Standardize the nation column
df["Nation"] = df["Nation"].str[-3:]

<ipython-input-104-3f839734c4ab>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Nation"] = df["Nation"].str[-3:]

In [105]:
df.head()

,Player,Nation,Pos,Age,MP,Starts,Min,Goals Scored,Assists,Goals Contribution,PK,Attempted PK,Yellow Cards,Red Cards,xG,xAG,Progressive Passes,Total Shorts,Shorts on Target,Cmp,Attended Passes,Free Kick,Through Balls,Crosses,Throw Ins,Corner Kicks,Tackles,Tackels Won,Blocks,Interceptions,Clearance,Errors,Substitue,Unused Substitue,Fouls Committed,Fouls drawn,Offsides
0,Marc Cucurella,ESP,DF,26-226,30,27,2479.0,4.0,2.0,6.0,0.0,0.0,8.0,1.0,1.9,1.7,84.0,19.0,5.0,1226.0,1375.0,22.0,2.0,26.0,157.0,0.0,46.0,35.0,35.0,22.0,51.0,3.0,3,2,30.0,30.0,3.0
1,Cole Palmer,ENG,MF,22-303,28,28,2459.0,14.0,6.0,20.0,3.0,3.0,4.0,0.0,14.2,8.4,154.0,97.0,37.0,845.0,1112.0,40.0,18.0,118.0,13.0,70.0,20.0,12.0,13.0,8.0,11.0,1.0,0,2,12.0,53.0,7.0
2,Moisés Caicedo,ECU,MF,23-123,28,28,2451.0,1.0,2.0,3.0,0.0,0.0,10.0,0.0,0.6,2.6,136.0,13.0,2.0,1444.0,1615.0,29.0,9.0,8.0,16.0,0.0,78.0,50.0,36.0,36.0,38.0,0.0,0,1,57.0,39.0,0.0
3,Levi Colwill,ENG,DF,22-007,25,25,2249.0,1.0,1.0,2.0,0.0,0.0,6.0,0.0,0.7,1.0,105.0,9.0,2.0,1753.0,1953.0,57.0,3.0,10.0,5.0,0.0,32.0,21.0,28.0,26.0,78.0,3.0,0,7,25.0,17.0,3.0
4,Enzo Fernández,ARG,MF,24-047,29,24,2198.0,4.0,8.0,12.0,0.0,0.0,6.0,0.0,4.1,4.8,144.0,37.0,14.0,1105.0,1357.0,41.0,12.0,73.0,3.0,49.0,53.0,29.0,26.0,13.0,16.0,4.0,5,3,41.0,40.0,1.0

In [106]:
#standardize the age column by showing only the year
df["Age"] = df["Age"].str[0:2]

<ipython-input-106-c08ca1f10875>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Age"] = df["Age"].str[0:2]

In [107]:
df.head()

,Player,Nation,Pos,Age,MP,Starts,Min,Goals Scored,Assists,Goals Contribution,PK,Attempted PK,Yellow Cards,Red Cards,xG,xAG,Progressive Passes,Total Shorts,Shorts on Target,Cmp,Attended Passes,Free Kick,Through Balls,Crosses,Throw Ins,Corner Kicks,Tackles,Tackels Won,Blocks,Interceptions,Clearance,Errors,Substitue,Unused Substitue,Fouls Committed,Fouls drawn,Offsides
0,Marc Cucurella,ESP,DF,26,30,27,2479.0,4.0,2.0,6.0,0.0,0.0,8.0,1.0,1.9,1.7,84.0,19.0,5.0,1226.0,1375.0,22.0,2.0,26.0,157.0,0.0,46.0,35.0,35.0,22.0,51.0,3.0,3,2,30.0,30.0,3.0
1,Cole Palmer,ENG,MF,22,28,28,2459.0,14.0,6.0,20.0,3.0,3.0,4.0,0.0,14.2,8.4,154.0,97.0,37.0,845.0,1112.0,40.0,18.0,118.0,13.0,70.0,20.0,12.0,13.0,8.0,11.0,1.0,0,2,12.0,53.0,7.0
2,Moisés Caicedo,ECU,MF,23,28,28,2451.0,1.0,2.0,3.0,0.0,0.0,10.0,0.0,0.6,2.6,136.0,13.0,2.0,1444.0,1615.0,29.0,9.0,8.0,16.0,0.0,78.0,50.0,36.0,36.0,38.0,0.0,0,1,57.0,39.0,0.0
3,Levi Colwill,ENG,DF,22,25,25,2249.0,1.0,1.0,2.0,0.0,0.0,6.0,0.0,0.7,1.0,105.0,9.0,2.0,1753.0,1953.0,57.0,3.0,10.0,5.0,0.0,32.0,21.0,28.0,26.0,78.0,3.0,0,7,25.0,17.0,3.0
4,Enzo Fernández,ARG,MF,24,29,24,2198.0,4.0,8.0,12.0,0.0,0.0,6.0,0.0,4.1,4.8,144.0,37.0,14.0,1105.0,1357.0,41.0,12.0,73.0,3.0,49.0,53.0,29.0,26.0,13.0,16.0,4.0,5,3,41.0,40.0,1.0

In [109]:
#rename cmp to completed passes
df = df.rename(columns={"Cmp":"Completed Passes"})

In [110]:
df.head()

,Player,Nation,Pos,Age,MP,Starts,Min,Goals Scored,Assists,Goals Contribution,PK,Attempted PK,Yellow Cards,Red Cards,xG,xAG,Progressive Passes,Total Shorts,Shorts on Target,Completed Passes,Attended Passes,Free Kick,Through Balls,Crosses,Throw Ins,Corner Kicks,Tackles,Tackels Won,Blocks,Interceptions,Clearance,Errors,Substitue,Unused Substitue,Fouls Committed,Fouls drawn,Offsides
0,Marc Cucurella,ESP,DF,26,30,27,2479.0,4.0,2.0,6.0,0.0,0.0,8.0,1.0,1.9,1.7,84.0,19.0,5.0,1226.0,1375.0,22.0,2.0,26.0,157.0,0.0,46.0,35.0,35.0,22.0,51.0,3.0,3,2,30.0,30.0,3.0
1,Cole Palmer,ENG,MF,22,28,28,2459.0,14.0,6.0,20.0,3.0,3.0,4.0,0.0,14.2,8.4,154.0,97.0,37.0,845.0,1112.0,40.0,18.0,118.0,13.0,70.0,20.0,12.0,13.0,8.0,11.0,1.0,0,2,12.0,53.0,7.0
2,Moisés Caicedo,ECU,MF,23,28,28,2451.0,1.0,2.0,3.0,0.0,0.0,10.0,0.0,0.6,2.6,136.0,13.0,2.0,1444.0,1615.0,29.0,9.0,8.0,16.0,0.0,78.0,50.0,36.0,36.0,38.0,0.0,0,1,57.0,39.0,0.0
3,Levi Colwill,ENG,DF,22,25,25,2249.0,1.0,1.0,2.0,0.0,0.0,6.0,0.0,0.7,1.0,105.0,9.0,2.0,1753.0,1953.0,57.0,3.0,10.0,5.0,0.0,32.0,21.0,28.0,26.0,78.0,3.0,0,7,25.0,17.0,3.0
4,Enzo Fernández,ARG,MF,24,29,24,2198.0,4.0,8.0,12.0,0.0,0.0,6.0,0.0,4.1,4.8,144.0,37.0,14.0,1105.0,1357.0,41.0,12.0,73.0,3.0,49.0,53.0,29.0,26.0,13.0,16.0,4.0,5,3,41.0,40.0,1.0

In [111]:
#Check data types
df.dtypes

Player                 object
Nation                 object
Pos                    object
Age                    object
MP                      int64
Starts                  int64
Min                   float64
Goals Scored          float64
Assists               float64
Goals Contribution    float64
PK                    float64
Attempted PK          float64
Yellow Cards          float64
Red Cards             float64
xG                    float64
xAG                   float64
Progressive Passes    float64
Total Shorts          float64
Shorts on Target      float64
Completed Passes      float64
Attended Passes       float64
Free Kick             float64
Through Balls         float64
Crosses               float64
Throw Ins             float64
Corner Kicks          float64
Tackles               float64
Tackels Won           float64
Blocks                float64
Interceptions         float64
Clearance             float64
Errors                float64
Substitue               int64
Unused Substitue        int64
Fouls Committed       float64
Fouls drawn           float64
Offsides              float64
dtype: object

In [123]:
#First, fill all NA with 0
df = df.fillna(value=0)

In [124]:
df.columns

Index(['Player', 'Nation', 'Pos', 'Age', 'MP', 'Starts', 'Min', 'Goals Scored',
       'Assists', 'Goals Contribution', 'PK', 'Attempted PK', 'Yellow Cards',
       'Red Cards', 'xG', 'xAG', 'Progressive Passes', 'Total Shorts',
       'Shorts on Target', 'Completed Passes', 'Attended Passes', 'Free Kick',
       'Through Balls', 'Crosses', 'Throw Ins', 'Corner Kicks', 'Tackles',
       'Tackels Won', 'Blocks', 'Interceptions', 'Clearance', 'Errors',
       'Substitue', 'Unused Substitue', 'Fouls Committed', 'Fouls drawn',
       'Offsides'],
      dtype='object')

In [125]:
df[['Min', 'Goals Scored',
       'Assists', 'Goals Contribution', 'PK', 'Attempted PK', 'Yellow Cards',
       'Red Cards', 'Progressive Passes', 'Total Shorts',
       'Shorts on Target', 'Completed Passes', 'Attended Passes', 'Free Kick',
       'Through Balls', 'Crosses', 'Throw Ins', 'Corner Kicks', 'Tackles',
       'Tackels Won', 'Blocks', 'Interceptions', 'Clearance', 'Errors', 'Age', 'Fouls Committed', 'Fouls drawn',
       'Offsides']] = df[['Min', 'Goals Scored',
       'Assists', 'Goals Contribution', 'PK', 'Attempted PK', 'Yellow Cards',
       'Red Cards', 'Progressive Passes', 'Total Shorts',
       'Shorts on Target', 'Completed Passes', 'Attended Passes', 'Free Kick',
       'Through Balls', 'Crosses', 'Throw Ins', 'Corner Kicks', 'Tackles',
       'Tackels Won', 'Blocks', 'Interceptions', 'Clearance', 'Errors', 'Age', 'Fouls Committed', 'Fouls drawn',
       'Offsides']].astype("int64")

In [127]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37 entries, 0 to 36
Data columns (total 37 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Player              37 non-null     object
 1   Nation              37 non-null     object
 2   Pos                 37 non-null     object
 3   Age                 37 non-null     int64
 4   MP                  37 non-null     int64
 5   Starts              37 non-null     int64
 6   Min                 37 non-null     int64
 7   Goals Scored        37 non-null     int64
 8   Assists             37 non-null     int64
 9   Goals Contribution  37 non-null     int64
 10  PK                  37 non-null     int64
 11  Attempted PK        37 non-null     int64
 12  Yellow Cards        37 non-null     int64
 13  Red Cards           37 non-null     int64
 14  xG                  37 non-null     float64
 15  xAG                 37 non-null     float64
 16  Progressive Passes  37 non-null     int64
 17  Total Shorts        37 non-null     int64
 18  Shorts on Target    37 non-null     int64
 19  Completed Passes    37 non-null     int64
 20  Attended Passes     37 non-null     int64
 21  Free Kick           37 non-null     int64
 22  Through Balls       37 non-null     int64
 23  Crosses             37 non-null     int64
 24  Throw Ins           37 non-null     int64
 25  Corner Kicks        37 non-null     int64
 26  Tackles             37 non-null     int64
 27  Tackels Won         37 non-null     int64
 28  Blocks              37 non-null     int64
 29  Interceptions       37 non-null     int64
 30  Clearance           37 non-null     int64
 31  Errors              37 non-null     int64
 32  Substitue           37 non-null     int64
 33  Unused Substitue    37 non-null     int64
 34  Fouls Committed     37 non-null     int64
 35  Fouls drawn         37 non-null     int64
 36  Offsides            37 non-null     int64
dtypes: float64(2), int64(32), object(3)
memory usage: 11.0+ KB

In [128]:
#Check summary
df.describe()

,Age,MP,Starts,Min,Goals Scored,Assists,Goals Contribution,PK,Attempted PK,Yellow Cards,Red Cards,xG,xAG,Progressive Passes,Total Shorts,Shorts on Target,Completed Passes,Attended Passes,Free Kick,Through Balls,Crosses,Throw Ins,Corner Kicks,Tackles,Tackels Won,Blocks,Interceptions,Clearance,Errors,Substitue,Unused Substitue,Fouls Committed,Fouls drawn,Offsides
count,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000
mean,22.459459,14.675676,11.000000,989.945946,2.324324,1.621622,3.945946,0.135135,0.162162,2.405405,0.054054,1.491892,1.148649,30.216216,16.972973,6.351351,359.054054,421.216216,10.081081,1.783784,16.351351,11.432432,4.243243,11.486486,9.108108,7.054054,7.000000,11.864865,0.945946,3.675676,4.918919,11.216216,10.945946,1.459459
std,3.033101,10.203632,9.246621,807.365123,3.559448,2.112809,5.238458,0.585100,0.687730,2.629527,0.229243,3.171521,1.827661,43.826764,22.554239,9.387392,454.150608,522.645840,15.855911,3.772231,28.342367,31.005860,14.099656,17.439772,10.974171,10.303575,8.256311,18.607290,1.597671,3.778992,4.733911,12.576731,13.114763,2.804704
min,17.000000,1.000000,0.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,21.000000,6.000000,4.000000,368.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,7.000000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2.000000,2.000000,2.000000,0.000000
50%,22.000000,13.000000,9.000000,858.000000,0.000000,1.000000,2.000000,0.000000,0.000000,2.000000,0.000000,0.200000,0.300000,12.000000,9.000000,2.000000,200.000000,223.000000,2.000000,0.000000,2.000000,0.000000,0.000000,6.000000,6.000000,2.000000,6.000000,4.000000,0.000000,2.000000,3.000000,7.000000,4.000000,0.000000
75%,25.000000,24.000000,19.000000,1626.000000,4.000000,2.000000,6.000000,0.000000,0.000000,4.000000,0.000000,1.500000,1.100000,31.000000,19.000000,6.000000,478.000000,577.000000,15.000000,2.000000,21.000000,8.000000,0.000000,14.000000,11.000000,10.000000,11.000000,12.000000,1.000000,6.000000,7.000000,18.000000,17.000000,2.000000
max,28.000000,32.000000,28.000000,2479.000000,14.000000,8.000000,20.000000,3.000000,3.000000,10.000000,1.000000,14.200000,8.400000,154.000000,97.000000,37.000000,1753.000000,1953.000000,57.000000,18.000000,118.000000,157.000000,70.000000,78.000000,50.000000,36.000000,36.000000,78.000000,7.000000,17.000000,21.000000,57.000000,53.000000,15.000000

In [129]:
df.head()

,Player,Nation,Pos,Age,MP,Starts,Min,Goals Scored,Assists,Goals Contribution,PK,Attempted PK,Yellow Cards,Red Cards,xG,xAG,Progressive Passes,Total Shorts,Shorts on Target,Completed Passes,Attended Passes,Free Kick,Through Balls,Crosses,Throw Ins,Corner Kicks,Tackles,Tackels Won,Blocks,Interceptions,Clearance,Errors,Substitue,Unused Substitue,Fouls Committed,Fouls drawn,Offsides
0,Marc Cucurella,ESP,DF,26,30,27,2479,4,2,6,0,0,8,1,1.9,1.7,84,19,5,1226,1375,22,2,26,157,0,46,35,35,22,51,3,3,2,30,30,3
1,Cole Palmer,ENG,MF,22,28,28,2459,14,6,20,3,3,4,0,14.2,8.4,154,97,37,845,1112,40,18,118,13,70,20,12,13,8,11,1,0,2,12,53,7
2,Moisés Caicedo,ECU,MF,23,28,28,2451,1,2,3,0,0,10,0,0.6,2.6,136,13,2,1444,1615,29,9,8,16,0,78,50,36,36,38,0,0,1,57,39,0
3,Levi Colwill,ENG,DF,22,25,25,2249,1,1,2,0,0,6,0,0.7,1.0,105,9,2,1753,1953,57,3,10,5,0,32,21,28,26,78,3,0,7,25,17,3
4,Enzo Fernández,ARG,MF,24,29,24,2198,4,8,12,0,0,6,0,4.1,4.8,144,37,14,1105,1357,41,12,73,3,49,53,29,26,13,16,4,5,3,41,40,1

In [131]:
#Export to csv
df.to_csv("Chelsea dataset.csv")